.App {
  text-align: center;
  margin-top: 20px;
}

div img {
  height: 4rem;
  border-radius: 50%;
}

div p {
  font-size: 16px;
  font-weight: 500;
}

.spinner {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  z-index: 9999;
  display: block;
  overflow-y: hidden !important;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: white;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

.activity {
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 40px;
  margin: 20px 25px;

  border-radius: 50px;
  background: #ffffff;
  box-shadow: 13px 13px 26px #d9d9d9, -13px -13px 26px #ffffff;
}

.btn {
  margin: 20px 0;
}

.result {
  font-size: 25px;
  font-weight: 500;
  color: rgb(16, 108, 195);
}
